# CS566: Analysis of Algorithms
# Final Project
## Step 1: Data acquisiton

In [3]:
# Imports
import pandas as pd
from sklearn.datasets import make_blobs

### Synthetic data
#### make_blobs function

In [4]:
blob_data, blob_cluster_ids = make_blobs(
    n_samples=1_000_000,
    centers=10,
    n_features=1_000,
    random_state=17,
)
blobs = pd.DataFrame(blob_data)
blobs.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,4.465998,-7.983134,-4.766082,-1.924234,3.644689,1.350063,-3.738176,3.730235,-9.029909,3.793527,...,-7.565530,-2.261007,-3.953206,0.421106,2.071821,1.511818,-1.465905,10.020473,3.943368,-5.246024
1,7.531505,-1.115546,3.590475,-1.355645,3.946209,4.102176,0.374394,7.134482,5.272554,2.091749,...,-5.662819,4.123957,-7.475822,-2.166457,5.288645,5.920969,-5.817151,7.325162,-0.958550,-7.849251
2,3.733955,-2.389140,-8.000888,-8.843625,8.530224,-3.667393,11.032941,-9.886385,-0.012800,5.541552,...,-2.007272,-2.359468,2.480074,-1.052820,-6.423478,6.043924,0.269473,-6.704580,5.112906,4.157695
3,-8.770740,7.107368,6.322335,0.067985,8.536069,-6.383372,-1.943075,-8.697037,-9.561799,-5.569239,...,6.180926,-0.574299,4.001701,4.710062,-1.467504,-4.954020,4.082042,-0.074713,6.267504,-4.328003
4,5.378281,-4.795440,6.989031,-2.547982,1.840415,3.962123,7.132682,-9.162936,-7.115880,-10.145450,...,2.781680,7.824309,-8.174671,2.404692,1.305861,-1.154211,2.688405,2.141721,6.536825,-3.512195

In [5]:
blobs.to_csv(path_or_buf='blobs_1m_10_1k_17.csv', index=False)

In [6]:
blobs_ids = pd.DataFrame(blob_cluster_ids)
blobs_ids.head()

   0
0  3
1  2
2  5
3  9
4  1

In [7]:
blobs_ids.to_csv(path_or_buf='blobs_ids_1m_10_1k_17.csv', index=False)

### Obesity data
#### Medium size, real life data

In [28]:
obesity_dataset = pd.read_csv(
    filepath_or_buffer='/Users/ayan/Downloads/ObesityDataSet_raw_and_data_sinthetic (2)/ObesityDataSet_raw_and_data_sinthetic.csv'
)
obesity_dataset.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [29]:
obesity_dataset.loc[obesity_dataset['NObeyesdad'] == 'Obesity_Type_I', 'NObeyesdad'] = 'Obesity'
obesity_dataset.loc[obesity_dataset['NObeyesdad'] == 'Obesity_Type_II', 'NObeyesdad'] = 'Obesity'
obesity_dataset.loc[obesity_dataset['NObeyesdad'] == 'Obesity_Type_III', 'NObeyesdad'] = 'Obesity'

obesity_dataset.loc[obesity_dataset['NObeyesdad'] == 'Overweight_Level_I', 'NObeyesdad'] = 'Overweight'
obesity_dataset.loc[obesity_dataset['NObeyesdad'] == 'Overweight_Level_II', 'NObeyesdad'] = 'Overweight'

obesity_dataset.NObeyesdad.value_counts()

Obesity                972
Overweight             580
Normal_Weight          287
Insufficient_Weight    272
Name: NObeyesdad, dtype: int64

In [30]:
gender_dummies = pd.get_dummies(data=obesity_dataset.Gender)
family_history_dummies = pd.get_dummies(data=obesity_dataset.family_history_with_overweight, prefix='fam_his_of_obesity')
favc_dummies = pd.get_dummies(data=obesity_dataset.FAVC, prefix='favc')
caec_dummies = pd.get_dummies(data=obesity_dataset.CAEC, prefix='caec')
smoke_dummies = pd.get_dummies(data=obesity_dataset.SMOKE, prefix='smoke')
scc_dummies = pd.get_dummies(data=obesity_dataset.SCC, prefix='scc')
calc_dummies = pd.get_dummies(data=obesity_dataset.CALC, prefix='calc')
mtrans_dummies = pd.get_dummies(data=obesity_dataset.MTRANS, prefix='mtrans')

frames = [
    obesity_dataset,
    gender_dummies,
    family_history_dummies,
    favc_dummies,
    caec_dummies,
    smoke_dummies,
    scc_dummies,
    calc_dummies,
    mtrans_dummies,
]

obesity_dataset_with_dummies = pd.concat(objs=frames, axis=1)
obesity_dataset_with_dummies.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,...,scc_yes,calc_Always,calc_Frequently,calc_Sometimes,calc_no,mtrans_Automobile,mtrans_Bike,mtrans_Motorbike,mtrans_Public_Transportation,mtrans_Walking
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,...,0,0,0,0,1,0,0,0,1,0
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,...,1,0,0,1,0,0,0,0,1,0
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,...,0,0,1,0,0,0,0,0,1,0
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,...,0,0,1,0,0,0,0,0,0,1
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,...,0,0,0,1,0,0,0,0,1,0

In [32]:
columns_to_drop = [
    'Gender',
    'family_history_with_overweight',
    'FAVC',
    'CAEC',
    'SMOKE',
    'SCC',
    'CALC',
    'MTRANS',
]
formatted_obesity_dataset = obesity_dataset_with_dummies.drop(columns=columns_to_drop)
classification_column = formatted_obesity_dataset.pop('NObeyesdad')
formatted_obesity_dataset.insert(loc=0, column='NObeyesdad', value=classification_column)
formatted_obesity_dataset.head()

,NObeyesdad,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,Female,...,scc_yes,calc_Always,calc_Frequently,calc_Sometimes,calc_no,mtrans_Automobile,mtrans_Bike,mtrans_Motorbike,mtrans_Public_Transportation,mtrans_Walking
0,Normal_Weight,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0,1,...,0,0,0,0,1,0,0,0,1,0
1,Normal_Weight,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0,1,...,1,0,0,1,0,0,0,0,1,0
2,Normal_Weight,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0,0,...,0,0,1,0,0,0,0,0,1,0
3,Overweight,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0,0,...,0,0,1,0,0,0,0,0,0,1
4,Overweight,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0,0,...,0,0,0,1,0,0,0,0,1,0

### Census data (???)
#### Can it be used???

In [3]:
census_data = pd.read_csv('/Users/ayan/Downloads/USCensus1990.data.txt', sep=',')
census_data.head(25)

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
0,10000,5,0,1,0,0,5,3,2,2,...,0,5,0,2,1,1,0,11,1,0
1,10001,6,1,1,0,0,7,5,2,2,...,0,1,0,2,1,1,0,5,1,0
2,10002,3,1,2,0,0,7,4,2,2,...,0,2,0,2,1,1,0,10,1,0
3,10003,4,1,2,0,0,1,3,2,2,...,0,1,0,1,1,1,0,10,1,0
4,10004,7,1,1,0,0,0,0,2,2,...,3,0,0,0,2,2,0,5,6,0
5,10005,1,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,0,0
6,10006,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,0,0
7,10007,4,1,2,0,0,6,0,2,2,...,0,0,0,2,1,1,0,11,1,0
8,10008,6,1,1,0,0,1,0,2,2,...,3,0,0,1,1,2,0,10,1,0
9,10009,3,1,12,0,0,1,0,2,2,...,1,0,0,1,1,2,0,8,1,1
10,10010,5,11,1,0,0,1,3,2,2,...,0,4,0,2,1,1,0,11,1,0
11,10011,4,0,1,0,0,1,5,2,2,...,0,2,0,2,1,1,0,10,1,0
12,10012,1,1,2,0,0,0,0,0,0,...,0,0,0,0,0,2,0,1,0,0
13,10013,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,0,0
14,10014,3,11,1,0,0,6,4,2,2,...,0,3,0,1,1,1,0,7,1,0
15,10015,4,3,1,0,0,1,3,2,2,...,0,3,0,2,1,1,0,11,1,1
16,10016,4,11,1,0,0,0,0,1,1,...,3,0,0,0,2,0,0,5,7,0
17,10017,7,1,1,0,0,0,0,2,2,...,3,0,0,0,2,2,0,6,6,0
18,10018,4,0,1,0,0,1,2,2,2,...,0,5,0,2,1,1,0,12,1,0
19,10019,6,1,1,0,0,3,3,2,2,...,0,1,0,2,1,1,0,14,1,1
20,10020,1,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,10021,6,11,1,0,0,1,1,2,2,...,0,4,0,2,1,1,0,10,1,0
22,10022,3,1,2,0,0,1,5,2,2,...,0,5,0,2,1,1,0,10,1,0
23,10023,3,9,1,0,3,1,2,2,2,...,0,5,0,2,1,1,0,11,1,0
24,10024,1,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,0,0

In [4]:
census_data.shape

(2458285, 69)